*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Gothic A1', sans-serif;
  color: #ccc;
  line-height: 1.5rem;
}

h1{
  color: #ffe81f;
  margin: 0 0 20px;
}

h2{
  margin: 0 0 10px;
}

h3{
  color: #ffe81f;
  margin: 5px 0 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  margin-bottom: 5px;
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#loader span{
  display: inline-block;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 50%;
  border: 20px dashed #ffe81f;
  animation: load 1000ms infinite;
  transition: 250ms all;
}

@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

header{
  background-color: #000;
  text-align: center;
  padding: 15px 0;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.movies, .characters{
  width: 40%;
}

.movie, .character{
  background-color: rgba(0, 0, 0, .45);
  padding: 10px 15px;
  margin-bottom: 10px;
}